body{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-family: 'Monda', sans-serif; 
    /* background-color: #555; */
}

a{
    text-decoration: none;
}


.nav{
    margin:0;
    background-color: rgb(6, 6, 6);
    max-width: 100%;
    height: 50px;
    max-height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: solid 1px orangered; */
    /* box-shadow: 0px 0px  5px orangered; */
    /* box-shadow: 0px 0px 12px rgb(250, 127, 82), 0px 0px 8px whitesmoke; */
    position: relative;
    z-index: 1000;
}

.navleft ul{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 100px 180px 1fr;
    grid-gap: 20px;
    list-style: none;
    padding: 0.5rem;
    margin-left: 10px;
    margin-top: -5px;
    z-index: 1000;
}
.navright ul{
    /* background-color: blue; */
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    grid-gap: 20px;
    list-style: none;
    font-size: 18px;
    margin-right: 15px;
    margin-top: 4px;
    padding: 0.5rem;
    text-align: start;

}

.navright a{
    text-decoration: none;
    color: white;
    /* display: block; */
    /* background-color: blue; */
    /* box-shadow: 0 1px 5px rgba(226, 226, 226, 0.8); */
    /* border: 2px solid #0275d8; */
    /* border-radius: 20px; */
    /* padding:0.2rem 1rem !important; */
}

.brand{
    color: orangered;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: -2px;
    font-size: 2rem;
}

.notBrand{
    color: white !important;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 9px;
    margin-left: 4px;
    font-size: 18px;
}

.navleft ul .search_bar{
    display: grid;
    grid-template-columns: 30px minmax(300px,auto);
    justify-content: flex-start;
    align-items: center;
    background:white;
    max-height: 34px;
    margin: 8px 0;
    border-radius: 20px;
}

.navleft ul .search_bar .search_icon{
    margin: 0px 10px;
    text-decoration: none;
    color: orangered;
    display: flex;
}

.navleft ul .search_bar .search_icon .search_btn{
    border:none;
    outline: none;
    background-color: white;
    font-weight: 0;
    color: white;
    width: 0;
    height: 0;
}

.navleft ul .search_bar .type_text .input{
    border:none;
    border-radius: 20px;
    background-color: white;
    min-width: 290px;
    max-width: auto;
    outline: none;
}

.navleft ul .search_bar .type_text .input::placeholder{
    color: black;
}


.navleft a:hover{
    color: orangered;
    text-decoration:none;
    /* text-decoration-color: whitesmoke; */
}
.navright a:hover{
    color: orangered;
    text-decoration:none;
    /* text-decoration-color: whitesmoke; */
}

/* .dropdown {
    float: left;
    overflow: hidden;
} */
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 18px;  
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -40px;
    top: 35px;
    background-color: rgb(6, 6, 6);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 164px;
} 

.dropdown-content2 {
    left: 0;
    top: 35px;
    min-width: 180px;
}  

.dropdown-content a {
    float: none;
    color: white;
    max-width: 100%;
    margin:5px 20px;
    text-decoration: none;
    display: block;
    text-align: start;
    justify-content: center;
    font-size: 17px;
}

.dropdown-content2 a {
  font-size: 16px;
  margin: 10px 20px;
}

.dropdown-content2 a:first-child {
    margin-top: 15px;
  }

.dropdown-content a:hover {
    background-color: none;
}

.show {
    display: block;
}

/* =====================================NAV BAR ENDS HERE=================================================== */

.top-container{
    /* background-color: blueviolet; */
    margin-top: 0px;
    margin-bottom: 0 px;
    max-width: 100%;
    max-height:30%;
    display: grid;
    grid-template-areas: 
        'showcase showcase showcase'
        'showcase showcase showcase'
        'top-box-a top-box-b top-box-c';
}

.showcase{
    grid-area: showcase;
    height: 85vh;
    background: url('../static/homepage_cover_things.jpg') ;
    background-size: cover;
    background-position: center;
    padding: 3rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.showcase h1{
    font-size: 3rem;
    margin-bottom: 0;
    color:black;
    text-shadow: 0 0 20px white ;
    /* background-color: #555555; */
    /* border-radius: 20px; */
    /* padding: 0.3rem; */
}

.showcase p{
    font-size: 20px;
    color:black;
    max-width: 30%;
    /* background-color: #555555; */
    /* border-radius: 20px; */
    padding: 0.5rem;
}

.showcase a{
    text-decoration: none;
    background-color:black;
    color: white;
    font-size: 13px;
    width: 80px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 0.2rem;
}

.showcase a:hover{
    text-decoration: none;
    border-radius: 20px;
    background-color: #333333;
    color: white;
    transition: all 0.2s ease-in-out; 
}

.top-box{
    background-color: rgb(240, 240, 240);
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
    width: 80%;
    margin: -40px 10%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.top-box h4{
    margin-top: 10px;
}

.top-box:hover{
    background-color: rgb(246, 246, 246);
}

/* ----------------------------------PROFILE PAGE ------------------------------------------- */
.mainDivPP{
    margin-top: 30px;
    margin-bottom: 15%;
    border: solid #eee;
    width: 70%;
    max-width: 70%;
    min-width: 70%;
    margin-left: 15%;
    /* margin-right: 20%; */
    transition: 0.5s ease;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
        'side contentx contentx contentx contentx'
        'side contentx contentx contentx contentx'
        'side contentx contentx contentx contentx'
        'side contentx contentx contentx contentx'
        'side contentx contentx contentx contentx'
        ;
}

.side{
    grid-area: side;
    border-right: solid #eee;
}

.content{
    grid-area: contentx;
}

.side .up{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 180px;
    min-height: 180px;
    max-height: 180px;
    padding: 10px;
}

.side .up #uname{
    margin-top: 5%;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
}

.side .up .pp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #666666;
    color: white;
    border-radius: 50%;
    width: 60%;
    height: 90%;
    margin: 5% 20%;
    font-size: 35px;
}


.side ul{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.side li{
    color: #cacbcc;
    /* font-weight: 700; */
    display: block!important;
    margin: 0!important;
}
.side a{
    color: #007791;
    display: block;
    text-decoration: none;
    padding: 1px 15px;
}

.side li:hover{
    background-color: #888888;
    text-decoration: none;
}

.side a:hover{
    text-decoration: none;
    color:white;
}


.content1{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.content2{
    display: grid;
    min-height: 400px;
    grid-template-rows: repeat(autofit,1fr);
    border-top: solid #eee;
    border-bottom: solid #eee;
}

.content2 .inside{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.content3{
    display: flex;
    align-items: flex-end;
    /* border: solid #eee; */
    text-align: center;
    justify-content: center;
}

.content1 .heading{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}

.content3 .btn{
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 160px;
    margin:5px;
}

.content2 .inside .forms {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    width: 70%;
    min-width: 70%;
    max-width: 70%;
    margin: 0;
    margin-left: 15%;
}

.content2 .inside .forms .profile_tab_form_fields{
    width: 100%;
    margin :0;
    margin: 10px 0;
}

.content2 .inside .forms .profile_tab_form_fields3{
    width: 100%;
    margin :0;
    margin-top: 40px;
}

.content2 .inside .forms .profile_tab_form_fields .form_fields{
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.content2 .inside .forms .profile_tab_form_fields3 .form_fields_bio{
    width: 100%;
    height: 200px;
    margin-top: 0px;
}

.content2 .inside .forms .account_tab_form_fields{
    width: 100%;
    height: 45px;
    margin :0;
    margin-top: 20px;
}

.content2 .inside .forms .deactivate_tab_form_field {
    margin:0; 
    height:35px; 
    width: 100%;
}
.content2 .inside .forms .deactivate_tab_form_field:focus {
    outline: solid 1px rgba(160, 1, 1, 0.863);
}



.content2 .inside .forms .deactivate_tab_btn{
    margin: 0;
    margin-top: 20px;
    border: solid 1px rgba(134, 0, 0, 0.876);
    width: 30%;
    height: 40px;
    background-color: white;
    color: rgba(134, 0, 0, 0.829);
    font-weight: 700;
}

.content2 .inside .forms .deactivate_tab_btn:hover{
    transform: scale(0.98);
    border: solid 2px rgba(134, 0, 0, 0.829);
    transition: all 0.1s ease-in-out;
    
}


/*============================== LOGIN AND SIGNUP ==========================================*/

.lsshowcase{
    height: 330px;
    background-color: rgb(6, 6, 6);
    color: white;
    position: relative;
}

.sshowcase{
    height: 490px;
    
}

.lsshowcase h1{
    font-size: 40px;
}

.lsshowcase h6{
    margin: 0;
}

.lsshowcase p{
    margin: 20px 0;
    font-size: 18px;
}

.lscontainer{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.lsshowcase .grid{
    display: grid;
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lsshowcase-text{
    position: relative;
    top: 20px;
}

.sshowcase-text{
    top: -50px;
}

.lsshowcase-form{
    position: relative;
    top: 80px;
    height: 340px;
    width: 400px;
    z-index: 100;
    justify-self: flex-end;
}

.sshowcase-form{
    height: 580px;
}

.lsshowcase-form .lsform-control{
    margin: 30px 0;
}
.lsshowcase-form .lsform-field{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}
.lsshowcase-form .lsform-field:focus{
    outline: none;
}

.lsshowcase-form a{
    margin: 0;
    padding: 3px;
    font-size: 16px;
    font-weight: bold;
    color: orangered;
}

.lsshowcase-form a:hover{
    color: #333;
    text-decoration: none;
    transform: scale(2.0);
}

.lsbtn{
    margin-top: 20px;
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.lsbtn:hover{
    background-color: #333;
    transform: scale(0.98);
}

.lsshowcase-text .lsbtn{
    text-decoration: none;
    border-radius: 20px;
    padding: 2px 6px;
    font-size: 13px;
    font-weight: bold;
    background: white;
    color: black;
}

.lsshowcase-text .lsbtn:hover{
    text-decoration: none;
    transform: scale(0.98);
}

.lsshowcase::before,
.lsshowcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    left: 0;
    right: 0;
    /* background-color: rgb(6, 6, 6); */
    /* background-color: rgb(255, 123, 0); */
    background-color: rgb(104, 207, 0);
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
}

.teach::before,
.teach::after {
    background-color: rgb(255, 123, 0);

}


.lscard{
    background-color: white;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}


.info{

    width: 100%;
    background: white;
    /* box-shadow: 0 1px 5px rgba(104,104,104,0.8); */
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem;
}

.info div{
    position: relative;
    top: 40px;
    margin: 0 3%;
}
.info a{
    text-decoration: none;
    background-color:black;
    color: white;
    font-size: 13px;
    width: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 0.2rem;
}

.info a:hover{
    text-decoration: none;
    border-radius: 20px;
    background-color: #333333;
    color: white;
    transition: all 0.2s ease-in-out; 
}

/* ===================================attempt_page============================================ */
.attempt_page_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 70%;
    margin: 50px 15%;
}

.attempt_page_heading *{
    margin-left: 40px;
}
.attempt_page_heading{
    min-width: 100%;
    /* background-color: violet; */
}

.attempt_page_solving{
    min-width: 100%;
    /* background-color: rgb(230, 219, 219); */
}

.attempt_page_solving .form_fields{
    margin-left: 40px;
    margin: 40px;
    display: flex;
    flex-direction: column;
}

.attempt_page_solving .form_fields .ap_question{
    display: grid;
    grid-template-columns: 20px 3fr 90px;
}

.attempt_page_solving .form_fields .ap_options{
    display: flex;
    margin-left: 20px;
    
}

.ap_options .radio_button{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 10px;
}

.ap_options p{
    margin-top: -2px;
}

.ap_submit{
    height: 35px;
    width: 80px;
    margin-left: 50px;
    margin-bottom: 100px;
    border: solid 1px rgb(0, 145, 189);
    background-color: rgb(0, 145, 189);
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
}

.ap_submit:hover{
    transform: scale(0.98);
}

.ap_submit:focus{
    outline: none;
}

.attempt_page_heading .delete_and_points{
    display: flex;
    margin: 0;
    height: 60px;
    justify-content: space-between;
}

.attempt_page_heading .delete_and_points a{
    position: relative;
    top: -10px;
    height: 30px;
    border:none;
    border-radius:5px;
    background-color: rgb(73, 73, 73);
    color:white;
    font-size: 16px;
    font-weight:600;
    text-decoration: none;
    padding: 5px 10px;
    margin:0;
}

.delete_assignment_btn{
    position: relative;
    top: -10px;
    height: 30px;
    margin-left: 5px;
    margin-right:10px;
    color:white;
    font-size: 16px;
    font-weight:600;
    /* width:120px; */
    border:none;
    border-radius:5px;
    background-color: rgb(179, 23, 23);

}

.delete_assignment_btn:hover{
    transform: scale(0.99);
}
/* =====================================List Assignment ============================================== */

.list_assignment_wrapper{
    /* background-color: rgb(212, 211, 211); */
    width: 70%;
    margin: 30px 15%;
    /* margin-bottom: 50px; */
}

.list_top_container{
    display: flex;
    justify-content: space-between;
}

.list_top_container .main_heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.list_top_container .main_heading .heading{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

.list_top_container .main_heading .add_assignment_btn{
    background-color: green;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0;
}

.list_top_container .main_heading .add_assignment_btn:hover{
    text-decoration: none;
    transform: scale(0.99);
}



.list_top_container .stats{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgb(206, 206, 206);
    box-shadow: 0 1px 3px rgba(56, 56, 56, 0.8);
    border-radius: 5px;
    width: 240px;
    min-height: 150px;
}

.list_top_container .stats *:first-child{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.list_top_container .stats *{
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
}

.list_assignment_wrapper .display_assignment{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
/* ====================================List Classes Section ========================================== */
.class_wrapper{
    margin: 50px 10%;
    width: 80%;
}

.list_top_container .main_heading .create_class_btn{
    background-color: rgb(116, 116, 146);
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3px;
    margin-left: 10px;
    border: none;
    margin-top: 10px;
}

.list_top_container .main_heading .create_class_btn:hover{
    text-decoration: none;
    transform: scale(0.995);
}

.class_list_container{
    display: grid;
    grid-template-columns: repeat(3, minmax(400px,450px)) ;
    grid-gap: 20px;
}

.class_list_container .class_box{
    background-color: white;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgb(31, 31, 31);
}

.class_list_container .class_box .class_heading{
    background-color: rgb(53, 131, 242);
    min-height: 125px;
    /* max-height: 100px; */
    border:none; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.class_list_container .class_box .class_heading .class_name{
    font-size: 35px;
    font-weight: 400;
    margin-left: 20px;
    position: relative;
    top:5px;
    color:white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.class_list_container .class_box .class_heading .class_section{
    margin-left: 22px;
    font-size: 18px;
    font-weight: 400;
    color:white;
}

.class_list_container .class_box .class_heading .class_link:hover{
    text-decoration-color: white;
}
.class_list_container .class_box .class_heading .class_teacher_name{
    margin-left: 22px;
    margin-top: 10px;
}
.class_list_container .class_box .class_heading .class_teacher_name a{ 
    font-size: 18px;
    font-weight: 500;
    color:white;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.class_list_container .class_box .notify{
    min-height: 200px;
}
.class_list_container .class_box .notify ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
}

.class_list_container .class_box .notify p{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 17px;
    color: grey;
}

.class_list_container .class_box .notify a{
    color: black;
    font-weight: 400;
    font-size: 18px;
}

.join_classroom_btn{
    background-color: rgb(53, 131, 242);
    border-radius: 2px;
    color:white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-left: 4px;
}

.join_classroom_btn:hover{
    transform: scale(0.99);
}

/* =======================================Add Classroom Section================================= */
.add_classroom_wrapper{
    width: 70%;
    margin-left: 15%;
}
.add_classroom_wrapper .main_heading{
    width: 55%;
    height: 70px;
    margin-top: 80px;
    margin-left: 22.5%;
    margin-bottom: 40px;
    background: rgb(39, 39, 58);
    color: rgb(53, 131, 242);
    box-shadow: 0 1px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    border-radius: 28px;
    letter-spacing: 5px;
}

.add_classroom_wrapper  .main_heading2{
    width:85%;
    margin-left: 7.5%;
    background: rgba(0,0,0,0.85);
    color: orangered;
}

.add_classroom_wrapper .add_classroom{
    width: 70%;
    margin: 0 15%;
    margin-top: 50px;
}

.add_classroom_wrapper .add_classroom .class_details{
    background-color: rgb(253, 253, 253);
    /* border-radius: 20px; */
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    box-shadow: 0 0px 2px rgba(56, 56, 56, 0.8);
}

.add_classroom_wrapper .add_classroom .class_details .form_labels{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;

}

.add_classroom_wrapper .add_classroom .class_details .form_labels .field1{
    position: relative;
    top: -10px;
    letter-spacing: 1px;
}

.add_classroom_wrapper .add_classroom .class_details .form_labels .field2{
    position: relative;
    top: 0px;
    letter-spacing: 1px;
}

.add_classroom_wrapper .add_classroom .class_details .form_labels .field3{
    position: relative;
    top: 10px;
    letter-spacing: 1px;
}

.add_classroom_wrapper .add_classroom .class_details .form_fields{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add_classroom_wrapper .add_classroom .class_details .form_fields .fields{
    margin-top: 30px;
    border: none;
    border-bottom: dashed 1px black;
    background-color:  rgb(253, 253, 253);
}

.add_classroom_wrapper .add_classroom .class_details .form_fields .fields:first-child{
    margin-top: 20px;
}

.add_classroom_wrapper .add_classroom .class_details .form_fields .fields:last-child{
    margin-bottom: 40px;
}


.add_classroom_wrapper .add_classroom .class_details .form_fields .fields:focus{
    outline: none;
}

.add_classroom_wrapper .add_classroom .form_btn{
    width:18%;
    margin-left: 41%;
    color: white;
    font-size: 20px;
    border: none;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: rgb(53, 131, 242);
    border-radius: 2px;
    height: 35px;
}
.add_classroom_wrapper .add_classroom .form_btn2{
    width:45%;
    margin-left: 27.5%;
    background-color: green;
}
.add_classroom_wrapper .add_classroom .form_btn:hover{
    transform: scale(0.99);
}
/* =====================================Display Class Students ======================================== */
.display_class_student_wrapper{
    width: 50%;
    margin: 50px 25%;
}

.alternate{
    width: 100%;
    margin: 50px 0;
    /* margin-bottom: 100px; */
}

.display_class_student_wrapper .heading{
    font-size: 36px;
    font-weight: 700;
    color: rgb(53, 131, 242);
}
.display_class_student_wrapper .students_list ol{
    margin:0;
    padding: 0;
    /* list-style: none; */
    margin-left: 30px;
    margin-top: 20px;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1px;

}
/* ====================================Add Assignment Section ========================================= */
.add_assignment_wrapper{
    width: 70%;
    margin-left: 15%;
}
.add_assignment_wrapper .main_heading{
    width: 55%;
    height: 70px;
    margin-top: 40px;
    margin-left: 22.5%;
    margin-bottom: 40px;
    background: rgba(0,0,0,0.85);
    color: orangered;
    box-shadow: 0 1px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    border-radius: 28px;
    letter-spacing: 5px;
}

.add_assignment_wrapper .add_assignment{
    width: 90%;
    margin: 0 5%;
    margin-top: 50px;
}

.add_assignment_wrapper .add_assignment .assignment_details{
    background-color: rgb(253, 253, 253);
    /* border-radius: 20px; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    box-shadow: 0 0px 2px rgba(56, 56, 56, 0.8);
}

.add_assignment_wrapper .add_assignment .assignment_details .form_labels{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;

}

.add_assignment_wrapper .add_assignment .assignment_details .form_labels .field1{
    position: relative;
    top: -10px;
    letter-spacing: 1px;
}

.add_assignment_wrapper .add_assignment .assignment_details .form_labels .field2{
    position: relative;
    top: 0px;
    letter-spacing: 1px;
}

.add_assignment_wrapper .add_assignment .assignment_details .form_labels .field3{
    position: relative;
    top: 10px;
    letter-spacing: 1px;
}

.add_assignment_wrapper .add_assignment .assignment_details .form_fields{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add_assignment_wrapper .add_assignment .assignment_details .form_fields .fields{
    margin-top: 30px;
    border: none;
    border-bottom: dashed 1px black;
    background-color:  rgb(253, 253, 253);
}

.add_assignment_wrapper .add_assignment .assignment_details .form_fields .fields:first-child{
    margin-top: 20px;
}

.add_assignment_wrapper .add_assignment .assignment_details .form_fields .fields:last-child{
    margin-bottom: 40px;
}


.add_assignment_wrapper .add_assignment .assignment_details .form_fields .fields:focus{
    outline: none;
}

.add_assignment_wrapper .add_assignment .questions_details{
    background-color:  rgb(253, 253, 253);
    margin-top: 40px;
    /* border-radius: 20px; */
    box-shadow: 0 0px 2px rgba(56, 56, 56, 0.8);
}

.add_assignment_wrapper .add_assignment .questions_details .question{
    margin: 20px 10%;
    display:flex;
    flex-direction: column;
    width: 80%;
}

.add_assignment_wrapper .add_assignment .questions_details .question .question_no{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
} 

.add_assignment_wrapper .add_assignment .questions_details .question .question_field{
    margin-bottom: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow:  0 0 2px black;
}

.add_assignment_wrapper .add_assignment .questions_details .question .question_field:focus{
    outline: none;
}


.add_assignment_wrapper .add_assignment .questions_details .question .choice_field{
    margin-bottom: 8px;
    height: 50px;
    border: none;
    background-color: rgb(252, 252, 252);;
    /* border-radius: 5px; */
    width: 75%;
    margin-left: 12.5%;
    box-shadow:  0 0 2px rgb(107, 107, 107);
}

.add_assignment_wrapper .add_assignment .questions_details .question .choice_field:focus{
    outline-color: rgb(144, 144, 243);
}



.add_assignment_wrapper .add_assignment .questions_details .question .answer_field{
    margin-top: 15px;
    margin-bottom: 20px;
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 20%;
    margin-left: 40%;
    box-shadow: inset 0 0px 5px green;
}

.add_assignment_wrapper .add_assignment .questions_details .question .answer_field:focus{
    outline-color: green;
}

.add_assignment_wrapper .add_assignment .questions_details .field::placeholder{
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    letter-spacing: 5px;
}

.add_assignment .add_assignmnet_btn_div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    
}
.add_assignment .add_assignmnet_btn_div .add_assignment_btn{ 
    background-color:green;
    color:white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    letter-spacing: 2px;
    margin: 0 10px
}  

.add_assignment .add_assignmnet_btn_div .add_assignment_btn:hover{ 
    transform: scale(0.99);
}  

.add_assignment .add_assignmnet_btn_div .add_assignment_btn2{ 
    background-color:grey;
    color:white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    letter-spacing: 2px;
    margin: 0 10px
}  

.add_assignment .add_assignmnet_btn_div .add_assignment_btn2:hover{ 
    transform: scale(0.99);
}  

/* ====================================After Submit ============================================ */
.after_submit_wrapper{

    width: 50%;
    margin: 50px 25%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.after_submit_wrapper .result{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    width:400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.after_submit_wrapper .fail{
    height: 120px;
}

.after_submit_wrapper .result h4{
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 2px;
    color: green;
}

.after_submit_wrapper .result h6{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    color: black;
}

.after_submit_wrapper .your_review{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 700px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

}

.after_submit_wrapper .your_review *{
    margin: 0; 
    padding: 0;
}

.your_review .rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 70%; */
    height: 50px;
    margin-bottom: -5px;
    margin-left: 10%;   
    /* background-color: white; */
    background-color: white;
    border-radius: 30px;
}

.your_review .rating .rating_label{
    margin-right: 20px;
    font-size: 22px;
    font-weight: 500;
   
}

.your_review .rating .rating_field{
    font-size: 22px;
    font-weight: 500;
    color:  rgb(218, 69, 0);
}


.your_review .review{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 80%;
    margin-bottom: 20px;
    margin-top: 0;
}


.your_review .review .review_label{
    font-size: 22px;
    font-weight: 500;
}

.your_review .review .review_field{
    /* background-color: white; */
    border: solid 2px  rgb(102, 102, 102);
    border-radius: 5px;
    min-height: 200px;
    width: 95%;
}

.your_review .review .review_field *{
    margin-left: 5px;
    margin-top: 5px;
}
/* ------------------------------------------------------------------------------ */
.after_submit_wrapper .give_review{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    width: 60vh;
    align-items: flex-start;
    justify-content: flex-start;
}

.after_submit_wrapper .give_review *{
    margin: 0;
    padding: 0;
}

.give_review .rating {
    display: flex;
}

.give_review .rating .rating_label{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
}

.give_review .rating .rating_field{
    border: solid 2px  black;
    border-radius: 20px;
    padding: 2px 5px;
    width: 11vh;
    font-size: 16px;
    font-weight: 500;
    color:  rgb(218, 69, 0);
    margin-bottom: 20px;
}

.give_review .rating .rating_field:focus{
   outline: none;
}

.give_review .review .review_label{
    font-size: 16px;
    font-weight: 400;
}

.give_review .review .review_field{
    width: 60vh;
    height: 25vh;
    margin-bottom: 10px;
}

.give_review .review_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
}

.give_review .review_btn .rate_review_btn{  
    width: 18vh;
    padding: 5px 10px;
    font-size: 18px;
    background-color: rgb(241, 241, 241);
    border: solid 1px rgb(182, 182, 182);
}
/* ====================================Assignment Section ==========================================*/

.assignments .assignments_heading{
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
}

.assignment_wrapper{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin-left: 5%;
    gap: 20px;
}

.assignment_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(251, 251, 251);
    box-shadow: 0 1px 3px rgba(104,104,104,0.8);
    min-height: 200px;
    border-radius: 5px;
    text-decoration: none;
}

.assignment_box:hover{
    text-decoration: none;
}

.assignment_box *{
    margin-left: 5%;
    text-decoration: none;
    color: black;
}

/* .assignment_box *:hover{
    text-decoration: none;
} */



.assignment_box .assignment_name{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 22px;
    text-transform: capitalize;
}

.assignment_box .teacher_description{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 350;
}

.assignment_box .rate_review{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20px;
}

.assignment_box .rate_review .rating{
    font-weight: 600;
    color: rgb(218, 69, 0);
    margin: 0;
    padding:0;
    margin-left: 2px;
}

.assignment_box .rate_review .reviews{
    font-weight: 350;
    font-size: 14px;
    margin:0;
    padding:0;
    margin-left: 5px;
    margin-top:1px;
}

.assignment_box .price{
    margin:0;
    margin-left: 5%;
    margin-top: 5px;
    font-weight: bolder;
    font-size: 19px;
}
.assignment_box .status{
    background-color: 	rgb(255, 231, 153);
    color: 	rgb(123, 65, 7);
    font-weight: 750;
    font-size: 14px;
    padding: 0 5px;
    border-radius: 5px;
    margin-top: 5px;
}
/* ========================================search bar ======================================= */

.result_wrapper{
    /* background-color: violet; */
    width: 70%;
    margin: 30px 0;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 1000px;
}

.result_wrapper .heading{
    font-weight: bolder;
    font-size: 30px;
    margin-top: 40px;
}

.applygrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* width: 90%; */
    /* margin-left: 5%; */
    gap: 20px;

}

.people{
    grid-template-columns: repeat(3,1fr);
  

}

.ref_teachers,
.assignment{
    margin:0 20px
}

.result_wrapper .assignment .assignment_box *{
    margin-left: 20px;
}

.result_wrapper .assignment .assignment_box{
    width: 35%;
}

.result_wrapper .assignment .assignment_box .rate_review{
    margin-left: 0;
}

.result_wrapper .assignment .assignment_box .rate_review .reviews{
    margin-left: 10px;
}

.result_wrapper  .sassignment_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(251, 251, 251);
    box-shadow: 0 1px 3px rgba(104,104,104,0.8);
    min-height: 200px;
    border-radius: 5px;
    text-decoration: none;
}

.result_wrapper .sassignment_box:hover{
    text-decoration: none;
}

.result_wrapper  .sassignment_box *{
    margin-left: 5%;
    text-decoration: none;
    color: black;
}
.result_wrapper  .sassignment_box .assignment_name{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 22px;
    text-transform: capitalize;
}

.result_wrapper  .sassignment_box .teacher_description{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 350;
}

.result_wrapper  .sassignment_box .rate_review{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20px;
}

.result_wrapper  .sassignment_box .rate_review .rating{
    font-weight: 600;
    color: rgb(218, 69, 0);
    margin: 0;
    padding:0;
    margin-left: 2px;
}

.result_wrapper  .sassignment_box .rate_review .reviews{
    font-weight: 350;
    font-size: 14px;
    margin:0;
    padding:0;
    margin-left: 5px;
    margin-top:1px;
}

.result_wrapper  .sassignment_box .price{
    margin:0;
    margin-left: 5%;
    margin-top: 5px;
    font-weight: bolder;
    font-size: 19px;
}
.result_wrapper  .sassignment_box .status{
    background-color: 	rgb(255, 231, 153);
    color: 	rgb(123, 65, 7);
    font-weight: 750;
    font-size: 14px;
    padding: 0 5px;
    border-radius: 5px;
    margin-top: 5px;
}

.result_wrapper .box{
    display: grid;
    grid-template-columns: 150px 220px;
    background-color: rgb(251, 251, 251);
    box-shadow: 0 1px 3px rgba(104,104,104,0.8);
    min-height: 150px;
    border-radius: 5px;
    text-decoration: none;
}

.result_wrapper .pp{
    background-color: rgb(104, 111, 122);
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight:650;
}

.result_wrapper .other{
    color:black;
    text-transform: capitalize;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.result_wrapper .other .name{
    font-size: 17px;
    font-weight:650;
}
.result_wrapper .other .rank{
    margin-top: 5px;
}

/* ===================================footer================================================== */
footer{
    background: white;
    color: orangered;
    font-weight: bolder;
    font-size: 25px;
    text-shadow: 0px 0px 5px #888888;
    padding: 1rem;
    text-align: center;
    width: 90%;
    margin: 20px 5%;
    transition: 0.3s ease-in-out;
}

footer p{
    width: 14%;
    margin-left: 43%;
    letter-spacing: 0px;
    transition: all 1s ease-in;
}
footer p:hover{
    width: 100%;
    letter-spacing: 20px;
    margin-left: 0px;
    transform: scale(0.75);
    transition: all 0.5s ease-out;
}
/* =================================MEDIA QUERIES BELOW ==================================== */
@media(max-width:1200px){
    .mainDivPP{
        width: 90%;
        max-width: 90%;
        min-width: 90%;
        margin-left: 5%;
        transition: 0.5s ease-in-out;
    }
}

@media(max-width:965px){
    .mainDivPP{
        grid-template-areas: 
        'side side side side side'
        'side side side side side'
        'contentx contentx contentx contentx contentx'
        'contentx contentx contentx contentx contentx'
        'contentx contentx contentx contentx contentx';

        border: none;
        transition: 0.5s ease-in-out;
    }

    .side{
        border: none;
    }

    .side .up{
        width: 40%;
        margin: 0 30%;

        height: 100px;
    }

    .content{
        border: solid #eee;
        margin-top: 5%;
        margin-bottom: 15%;
    }

    .content2{
        border-right: none;
        border-left: none;
    }
}
