body{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-family: 'Monda', sans-serif; 
    /* background-color: #555; */
}

/* .wrapper{
    display: grid;
    grid-gap: 20px;
} */

.nav{
    margin:0;
    background-color: rgb(6, 6, 6);
    
    max-width: 100%;
    height: 50px;
    max-height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: solid 1px orangered; */
    /* box-shadow: 0px 0px  5px orangered; */
    /* box-shadow: 0px 0px 12px rgb(250, 127, 82), 0px 0px 8px whitesmoke; */
    position: relative;
    z-index: 1000;
}

.navleft ul{
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0.5rem;
    margin-left: 10px;
    margin-top: -5px;
}
.navright ul{
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    list-style: none;
    font-size: 18px;
    margin-right: 15px;
    margin-top: 4px;
    padding: 0.5rem;
    text-align: center;

}

.navright a{
    text-decoration: none;
    color: white;
    /* display: block; */
    /* background-color: blue; */
    /* box-shadow: 0 1px 5px rgba(226, 226, 226, 0.8); */
    /* border: 2px solid #0275d8; */
    /* border-radius: 20px; */
    /* padding:0.2rem 1rem !important; */
}

.brand{
    color: orangered;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: -2px;
    font-size: 2rem;
}

.notBrand{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 9px;
    margin-left: 4px;
    font-size: 18px;
}


.navleft a:hover{
    color: orangered;
    text-decoration:none;
    /* text-decoration-color: whitesmoke; */
}
.navright a:hover{
    color: orangered;
    text-decoration:none;
    /* text-decoration-color: whitesmoke; */
}

/* .dropdown {
    float: left;
    overflow: hidden;
} */
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 18px;  
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 120%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  

.dropdown-content a {
    float: none;
    color: white;
    max-width: 90%;
    margin: 5px 5%;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-content: center;
}

.dropdown-content a:hover {
    background-color: none;
}

.show {
    display: block;
}

/* =====================================NAV BAR ENDS HERE=================================================== */

.top-container{
    /* background-color: blueviolet; */
    margin-top: 0px;
    margin-bottom: 0 px;
    max-width: 100%;
    max-height:30%;
    display: grid;
    grid-template-areas: 
        'showcase showcase showcase'
        'showcase showcase showcase'
        'top-box-a top-box-b top-box-c';
}

.showcase{
    grid-area: showcase;
    min-height: 600px;
    background: url('../static/homepage_cover_things.jpg') ;
    background-size: cover;
    background-position: center;
    padding: 3rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.showcase h1{
    font-size: 3rem;
    margin-bottom: 0;
    color:black;
    text-shadow: 0 0 20px white ;
    /* background-color: #555555; */
    /* border-radius: 20px; */
    /* padding: 0.3rem; */
}

.showcase p{
    font-size: 20px;
    color:black;
    max-width: 30%;
    /* background-color: #555555; */
    /* border-radius: 20px; */
    padding: 0.5rem;
}

.showcase a{
    text-decoration: none;
    background-color:black;
    color: white;
    font-size: 13px;
    width: 80px;
    display: flex;
    justify-content: center;
    /* text-shadow: 0 0 7px rgb(0, 0, 0); */
    /* background-color: #555555; */
    border-radius: 20px;
    padding: 0.2rem;
}

.showcase a:hover{
    /* text-decoration: underline; */
    /* text-decoration-color: white; */
    border-radius: 20px;
    background-color: #333333;
    color: white;
     /* text-shadow: 0px 0px 1px orangered; */
    transition: all 0.2s ease-in-out; 
}


.mainDivPP{
    margin-top: 30px;
    margin-bottom: 15%;
    border: solid #eee;
    width: 70%;
    max-width: 70%;
    min-width: 70%;
    margin-left: 15%;
    /* margin-right: 20%; */
    transition: 0.5s ease;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
        'side contentx contentx contentx contentx'
        'side contentx contentx contentx contentx'
        'side contentx contentx contentx contentx'
        'side contentx contentx contentx contentx'
        'side contentx contentx contentx contentx'
        ;
}

.side{
    grid-area: side;
    border-right: solid #eee;
}

.content{
    grid-area: contentx;
}

.side .up{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 180px;
    min-height: 180px;
    max-height: 180px;
    padding: 10px;
}

.side .up #uname{
    margin-top: 5%;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
}

.side .up .pp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #666666;
    color: white;
    border-radius: 50%;
    width: 60%;
    height: 90%;
    margin: 5% 20%;
    font-size: 35px;
}


.side ul{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.side li{
    color: #cacbcc;
    /* font-weight: 700; */
    display: block!important;
    margin: 0!important;
}
.side a{
    color: #007791;
    display: block;
    text-decoration: none;
    padding: 1px 15px;
}

.side li:hover{
    background-color: #888888;
    text-decoration: none;
}

.side a:hover{
    text-decoration: none;
    color:white;
}


.content1{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.content2{
    display: grid;
    min-height: 400px;
    grid-template-rows: repeat(autofit,1fr);
    border-top: solid #eee;
    border-bottom: solid #eee;
}

.content2 .inside{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.content3{
    display: flex;
    align-items: flex-end;
    /* border: solid #eee; */
    text-align: center;
    justify-content: center;
}

.content1 .heading{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}

.content3 .btn{
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 130px;
    margin:5px;
}

.content2 .inside .forms {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    width: 70%;
    min-width: 70%;
    max-width: 70%;
    margin: 0;
    margin-left: 15%;
}

.content2 .inside .forms .form_fields{
    width: 100%;
    height: 45px;
    margin :0;
    margin-top: 20px;
}

.lsshowcase{
    height: 330px;
    background-color: rgb(6, 6, 6);
    color: white;
    position: relative;
}

.sshowcase{
    height: 490px;
    
}

.lsshowcase h1{
    font-size: 40px;
}

.lsshowcase h6{
    margin: 0;
}

.lsshowcase p{
    margin: 20px 0;
    font-size: 18px;
}

.lscontainer{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.lsshowcase .grid{
    display: grid;
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lsshowcase-text{
    position: relative;
    top: 20px;
}

.sshowcase-text{
    top: -50px;
}

.lsshowcase-form{
    position: relative;
    top: 80px;
    height: 340px;
    width: 400px;
    z-index: 100;
    justify-self: flex-end;
}

.sshowcase-form{
    height: 500px;
}

.lsshowcase-form .lsform-control{
    margin: 30px 0;
}
.lsshowcase-form .lsform-field{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}
.lsshowcase-form .lsform-field:focus{
    outline: none;
}

.lsshowcase-form a{
    margin: 0;
    padding: 3px;
    font-size: 16px;
    font-weight: bold;
    color: orangered;
}

.lsshowcase-form a:hover{
    color: #333;
    text-decoration: none;
    transform: scale(2.0);
}

.lsbtn{
    margin-top: 20px;
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.lsbtn:hover{
    background-color: #333;
    transform: scale(0.98);
}

.lsshowcase-text .lsbtn{
    text-decoration: none;
    border-radius: 20px;
    padding: 2px 6px;
    font-size: 13px;
    font-weight: bold;
    background: white;
    color: black;
}

.lsshowcase-text .lsbtn:hover{
    text-decoration: none;
    transform: scale(0.98);
}

.lsshowcase::before,
.lsshowcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    left: 0;
    right: 0;
    background-color: rgb(6, 6, 6);
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
}

.lscard{
    background-color: white;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}



@media(max-width:1200px){
    .mainDivPP{
        width: 90%;
        max-width: 90%;
        min-width: 90%;
        margin-left: 5%;
        transition: all 0.5s ease-in-out;
    }
}

@media(max-width:965px){
    .mainDivPP{
        grid-template-areas: 
        'side side side side side'
        'side side side side side'
        'contentx contentx contentx contentx contentx'
        'contentx contentx contentx contentx contentx'
        'contentx contentx contentx contentx contentx';

        border: none;
        transition: all 0.5s ease-in-out;
    }

    .side{
        border: none;
    }

    .side .up{
        width: 40%;
        margin: 0 30%;

        height: 100px;
    }

    .content{
        border: solid #eee;
        margin-top: 5%;
        margin-bottom: 15%;
    }

    .content2{
        border-right: none;
        border-left: none;
    }
}
